body {
  background-color: #eee8ac;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title {
  color: green;
}

#contactForm {
    display: none;
}

#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

#form label{
    color: green;
    font-weight: bold;
    margin-top: 20px;
}
